body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #EF626C no-repeat center fixed ;
    background: linear-gradient(#2274A5, #2274A5, #84DCCF, #84DCCF) no-repeat center fixed ;
}

.title {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: bold;
}

.th_contact010
{
background: #4C2A85;
padding: inherit;
width:30%;
font:'Ubuntu', sans-serif;
border-bottom:5px solid #4C2A85;
}

.th_contact011
{
background: white;
padding:2rem;
width:30%;
font:'Ubuntu', sans-serif;
border-bottom:5px solid #B5EAE2;
}

.th_contact02
{
background-color:#4C2A85;
border-radius:0 0 12px 12px;
padding:2rem;
width:30%;
font:'Ubuntu', sans-serif;
}

.contact_text{
  font-size: 13px;
  font-family: 'Ubuntu', sans-serif;
}

.bodydiv {
  width: auto;
}

.dropdown-menu
{
    width: 100%;
    color: #2274A5;
}

.customheader {
text-shadow: #FFFFFF;
}

.droptext {
  font-size: 10px;
}

.btn-default
{
    min-width: 100%;
}

.btn-primary
{
    min-width: 100%;
}

.panel-body
{
  background-color: #4C2A85;
}

.panel-medoc {
  background-color: #2274A5;
}

.panel
{
    background-color: #2274A5;
        width:100%;
}

.panel-primary
{
    background-color: #4C2A85;
    border: 1px solid #FFFFFF;

}

.hospital {
  color : #4C2A85;
  background-color: white;
}

.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: 4C2A85;
  border-color: 4C2A85;
}

a{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: #4C2A85;
  padding-bottom: 3px;
  background-color: #4C2A85;
  border-color: #2274A5;
}

.navbar-inverse {
  background-color: #2274A5;
  border-color: #4C2A85;
}
.navbar-inverse .navbar-brand {
  color:  #4C2A85;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color:  #4C2A85);
}
.navbar-inverse .navbar-text {
  color: #fdfdfd;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fdfdfd;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #2274A5;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu {
  background-color:  #4C2A85;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a {
  color:  #4C2A85;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a:focus {
  color:   #4C2A85;
  background-color:  #4C2A85;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #8CC3C8;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #8CC3C8;
  background-color: #8CC3C8;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: rgb(174, 203, 209);
  background-color:rgb(56,102,125);
}
.navbar-inverse .navbar-toggle {
  border-color: #4C2A85;
}
.navbar-inverse .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #4C2A85;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #fdfdfd;
}
.navbar-inverse .navbar-link {
  color: #fdfdfd;
}
.navbar-inverse .navbar-link:hover {
  color:#84DCCF;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fdfdfd;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #4C2A85;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #4C2A85;
    background-color: #4C2A85;
  }
}

.lead
{
  border-bottom: 3px solid rgba(160,180,181, 0.74);
  padding-bottom: 3px;
  color: white;
}

.lead2
{
  border-bottom: 3px solid rgba(160,180,181, 0.74);
  padding-bottom: 3px;
  color: MintCream;
}
h2
{
	color: MintCream;
}

.customheader {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color : #22181C ;
  text-shadow: white;
}

.btn-default {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  text-color : #FFFFFF ;
  text-shadow: #4C2A85;
}

.btn-primary {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  background : #4C2A85 ;
  text-shadow: #FFFFFF;
}

.jumbotron {
    background: #4C2A85 no-repeat center fixed ;
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
    text-align: center;
}

.jumbotron-second
 {
  background: #2274A5 no-repeat center fixed ;
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  text-align: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.img-circle {
  border-radius: 50%
}

.div {
  width: auto;
}