<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | MeDOC App</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'hospitals/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'hospitals/css/style.css' %}" />
    <script src="{% static 'hospitals/js/bootstrap.js' %}"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href=# class="navbar-brand">MeDOC</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'hospital' %}"> Hospitals </a></li>
                    <li><a href="{% url 'medoc' %}"> MeDOC App </a></li>
                    <li><a href="{% url 'auth_login' %}">Log In</a></li>
					<!--<li><a href="{% url 'index' %}">Change Language</a></li>-->
                    <!--<li><a href="/admin/">Admin</a></li>-->
                </ul>

            </div>
        </div>
    </div>

    <div class="container body-content">
{% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} - MeDOC App</p>
        </footer>
    </div>

    <script src="{% static 'hospitals/js/bootstrap.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>