{% extends "layout_en.html" %}

{% block content %}
 <div class="page-header">
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<h4><i>{{ todocs }}</i></h4>
<p><a href="{% url 'register' %}" class="btn btn-primary btn-large">Register! &raquo;</a></p>
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Seeing your name as a registered doctor here fills you with determination!</div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-body">

<h1 class="hospital" > Doctors in Haiti (beta) </h1>
  {% for mydoctor in mydoctors %}
    {% if mydoctor.country == "Haiti" %}
  	   <div class="Doctor">
         <h3 class="customheader"> {{ mydoctor.name }}</h3>
        <p class="lead"> {{ mydoctor.email }} -- Specialite : {{ mydoctor.specialite }} </p>
        {% endif %}
{% endfor %}
</div></div></div>

{% endblock %}
